<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
</head>
<body>
    <canvas id="lineChart" width="900" height="400"></canvas>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var rawData = {{ data | safe }};
            console.log("Raw Data:", rawData);

            var canvas = document.getElementById("lineChart");
            var ctx = canvas.getContext("2d");

            var dateList = rawData.map(function (item) {
                return item.datetime;
            });
            var closeList = rawData.map(function (item) {
                return item.close;
            });

            // Reverse the arrays
            dateList.reverse();
            closeList.reverse();

            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dateList,
                    datasets: [{
                        label: "Close Values",
                        data: closeList,
                        borderColor: "rgba(75, 192, 192, 1)",
                        borderWidth: 2,
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
        });
    </script>
</body>
</html>